<div class="container">
    <div class="table-responsive">

        <!-- PAGE HEADER -->
        <div class="page-header"><h1>Member</h1></div>

        <!-- FORM -->
        <!-- pass in the variable if our form is valid or invalid -->
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
        <form class="form-horizontal" name="userForm" ng-submit="addNewMember(member)" method="post" novalidate>
            <table class="table member-table">
                <tr>
                    <td class="no-border">
                        <!-- Role -->
                        <div class="form-group">
                            <select name="role" ng-model="member.role" ng-options="role.Description for role in roles">
                                <option style="display: none" value="">-- Choose Role --</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="no-border">
                        <!-- NAME -->
                        <div ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
                            <input type="text" name="firstName" class="form-control" ng-model="member.firstName"
                                   placeholder="First Name" required/>

                            <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine"
                               class="help-block">You first name is required.</p>
                        </div>
                    </td>
                    <td>
                        <div ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
                            <input type="text" name="lastName" class="form-control" ng-model="member.lastName"
                                   placeholder="Last Name" required/>

                            <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">
                                You last name is required.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="no-border">
                        <div class="view-container">
                            <label for="genderMale">Male:
                                <input id="genderMale" type="radio" ng-model="member.gender" value="male"/>
                            </label>

                        </div>
                        <div class="view-container">
                            <label for="genderFemale">Female:
                                <input id="genderFemale" type="radio" ng-model="member.gender" value="female"/>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="no-border">
                        <div class="form-group"
                             ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <input type="email" name="email" class="form-control" ng-model="user.email"
                                   placeholder="Enter Email">

                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a
                                valid email.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="no-border">
                        <div ng-class="{ 'has-error' : userForm.address1.$invalid && !userForm.address1.$pristine }">
                            <input type="text" name="address1" class="form-control" ng-model="member.address.address1"
                                   ng-minlength="3" placeholder="Address 1">

                            <p ng-show="userForm.address1.$error.minlength" class="help-block">address1 is too
                                short.</p>
                        </div>
                    </td>
                    <td class="no-border">
                        <div ng-class="{ 'has-error' : userForm.address1.$invalid && !userForm.address1.$pristine }">
                            <input type="text" name="address2" class="form-control" ng-model="member.address.address2"
                                   ng-minlength="3" placeholder="Address 2"/>

                            <p ng-show="userForm.address2.$error.minlength" class="help-block">address2 is too
                                short.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="no-border">
                        <div ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine }">
                            <input type="text" name="city" class="form-control" ng-model="member.address.city"
                                   ng-minlength="3" placeholder="City"/>

                            <p ng-show="userForm.city.$error.minlength" class="help-block">city is too short.</p>
                        </div>
                    </td>
                    <td class="no-border">
                        <div ng-class="{ 'has-error' : userForm.state.$invalid && !userForm.state.$pristine }">
                            <input type="text" name="state" class="form-control" ng-model="member.address.state"
                                   ng-minlength="3" placeholder="State"/>

                            <p ng-show="userForm.state.$error.minlength" class="help-block">State is too short.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="no-border">
                        <div ng-class="{ 'has-error' : userForm.pinCode.$invalid && !userForm.pinCode.$pristine }">
                            <input type="text" name="pinCode" class="form-control" ng-model="member.address.pinCode"
                                   ng-minlength="6" placeholder="PinCode">

                            <p ng-show="userForm.pincode.$error.minlength" class="help-block">pinCode is too short.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="no-border">

                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">Submit</button>
                        <button type="submit" ng-click="testingController()" class="btn btn-primary">Testing</button>
                    </td>
                </tr>
            </table>
        </form>

    </div><!-- col-sm-8 -->
</div><!-- /container -->